* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
/* ***************************************************************
 START MENU
******************************************************************/

.start-menu {
  height: 100%;
  /* change colors */
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************************************************************
 GAME BOARD 
******************************************************************/
.game {
  display: grid;
  /* height: 100%; */
  grid-template-areas:
    "timer counter"
    "board board";
  /* grid-template-rows: 150px 1fr; */
  /* gap: 1rem; */
}
.timer {
  grid-area: timer;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: counter;
  background-color: red;
}
.board {
  grid-area: board;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 100px;
  width: 100px;
  margin: 1rem;
  background-size: cover;
}
.card-back {
  background-image: url("./image/png/day10-canvas-stand.png");
  background-size: cover;
}

/* ***************************************************************
  GENERAL
******************************************************************/
.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  background: rgb(2, 0, 36);
  color: #ffffff;
  font-size: 0.75rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn:hover,
.btn:focus {
  background: #0053ba;
}

.btn:focus {
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}
/* ***************************************************************
  card smile classes
******************************************************************/
.smile1 {
  background-image: url("./image/smile/smile1.png");
}
.smile2 {
  background-image: url("./image/smile/smile2.png");
}
.smile3 {
  background-image: url("./image/smile/smile3.png");
}
.smile4 {
  background-image: url("./image/smile/smile4.png");
}
.smile5 {
  background-image: url("./image/smile/smile5.png");
}
.smile6 {
  background-image: url("./image/smile/smile6.png");
}
/* ***************************************************************
  card ? classes
******************************************************************/
