* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
/* ***************************************************************
 START MENU
******************************************************************/

.start-menu {
  height: 100%;
  /* change colors */
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************************************************************
 GAME BOARD 
******************************************************************/
.game {
  display: grid;
  /* height: 100%; */
  grid-template-areas:
    "timer counter"
    "board board";
  /* grid-template-rows: 150px 1fr; */
  /* gap: 1rem; */
}
.timer {
  grid-area: timer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: counter;
}
.board {
  grid-area: board;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  height: 100px;
  width: 100px;
  margin: 1rem;
  background-size: cover;
}
.card-back {
  background-image: url("./image/png/day10-canvas-stand.png");
  background-size: cover;
}

/* ***************************************************************
  GENERAL
******************************************************************/
.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  background: rgb(2, 0, 36);
  color: #ffffff;
  font-size: 2rem;
  margin: 4rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn:hover,
.btn:focus {
  background: #0053ba;
}

.btn:focus {
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}
/* ***************************************************************
  card smile classes
******************************************************************/
.smile1 {
  background-image: url("./image/smile/smile1.png");
}
.smile2 {
  background-image: url("./image/smile/smile2.png");
}
.smile3 {
  background-image: url("./image/smile/smile3.png");
}
.smile4 {
  background-image: url("./image/smile/smile4.png");
}
.smile5 {
  background-image: url("./image/smile/smile5.png");
}
.smile6 {
  background-image: url("./image/smile/smile6.png");
}
/* ***************************************************************
  card covid classes
******************************************************************/
.covid1 {
  background-image: url("./image/covid/covid1.png");
}
.covid2 {
  background-image: url("./image/covid/covid2.png");
}
.covid3 {
  background-image: url("./image/covid/covid3.png");
}
.covid4 {
  background-image: url("./image/covid/covid4.png");
}
.covid5 {
  background-image: ("./image/covid/covid5.png");
}
.covid6 {
  background-image: ("./image/covid/covid6.png");
}
.covid7 {
  background-image: url("./image/covid/covid7.png");
}
.covid8 {
  background-image: url("./image/covid/covid8.png");
}
.covid9 {
  background-image: ("./image/covid/covid9.png");
}
.covid10 {
  background-image: ("./image/covid/covid10.png");
}

/* ***************************************************************
  card covid classes
******************************************************************/
.covid1 {
  background-image: url("./image/covid/covid1.png");
}
.covid2 {
  background-image: url("./image/covid/covid2.png");
}
.covid3 {
  background-image: url("./image/covid/covid3.png");
}
.covid4 {
  background-image: url("./image/covid/covid4.png");
}
.covid5 {
  background-image: ("./image/covid/covid5.png");
}
.covid6 {
  background-image: ("./image/covid/covid6.png");
}
.covid7 {
  background-image: url("./image/covid/covid7.png");
}
.covid8 {
  background-image: url("./image/covid/covid8.png");
}
.covid9 {
  background-image: ("./image/covid/covid9.png");
}
.covid10 {
  background-image: ("./image/covid/covid10.png");
}

/* ***************************************************************
  card randome classes
******************************************************************/
.random1 {
  background-image: url("./image/random/random1.png");
}
.random2 {
  background-image: url("./image/random/random2.png");
}
.random3 {
  background-image: url("./image/random/random3.png");
}
.random4 {
  background-image: url("./image/random/random4.png");
}
.random5 {
  background-image: ("./image/random/random5.png");
}
.random6 {
  background-image: ("./image/random/random6.png");
}
.random7 {
  background-image: url("./image/random/random7.png");
}
.random8 {
  background-image: url("./image/random/random8.png");
}
.random9 {
  background-image: ("./image/random/random9.png");
}
.random10 {
  background-image: ("./image/random/random10.png");
}
.random11 {
  background-image: url("./image/random/random11.png");
}
.random12 {
  background-image: url("./image/random/random12.png");
}
.random13 {
  background-image: url("./image/random/random13.png");
}
.random14 {
  background-image: url("./image/random/random14.png");
}
.random15 {
  background-image: ("./image/random/random15.png");
}
.random16 {
  background-image: ("./image/random/random16.png");
}
.random17 {
  background-image: url("./image/random/random17.png");
}
.random18 {
  background-image: url("./image/random/random18.png");
}
.random19 {
  background-image: ("./image/random/random19.png");
}
.random20 {
  background-image: ("./image/random/random20.png");
}
